---
title: Le Wagon Middleman boilerplate
---
<div class="bg-red text-center" id="team">
  <h1>Our team</h1>
  <div class="container">
    <div class="row">
      <% data.products.each do |product| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <% link_to product.linkedin, target: "_blank" do %>
            <%= image_tag product.picture, class: 'img-circle' %>
          <% end %>
          <h3><%= product.name %></h3>
          <h5><%= product.job %></h5>
          <p><%= product.description %></p>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
<div class="bg-white text-center">
  <h2>Contact us</h2>
  <p>+33 6 24 68 82 16</p>
  <p>contact@travel.com</p>
</div>
