---
title: Le Wagon Middleman boilerplate
---

<div class="padded text-center">
  <div id="title_destinations">
    <h1>Book your next trip</h1>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="card bg-transparent slideRight">
          <% link_to "http://www.airbnb.com", target: "_blank" do %>
            <%= image_tag 'london.png' %>
          <% end %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card bg-transparent slideUp">
          <% link_to "http://www.airbnb.com", target: "_blank" do %>
            <%= image_tag 'bordeaux.png' %>
          <% end %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card bg-transparent slideLeft">
          <% link_to "http://www.airbnb.com", target: "_blank" do %>
            <%= image_tag 'new_york.png' %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">

      </div>
      <div class="col-xs-12">

      </div>
      <div class="col-xs-12">

      </div>
    </div>
  </div>
</div>