---
title: Le Wagon Middleman boilerplate
---

<div class="padded text-center">
  <h1>Our best destinations</h1>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <%= image_tag 'london.png' %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <%= image_tag 'bordeaux.png' %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <%= image_tag 'new_york.png' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">

      </div>
      <div class="col-xs-12">

      </div>
      <div class="col-xs-12">

      </div>
    </div>
  </div>
</div>